app/cache/*
build-reports/
app/config/parameters.yml
app/config/config.yml
app/config/db.host
app/config/security.yml
app/config/config.yml.bak
app/config/parameters.yml.dist
app/logs/*
web/*.log
web/images
web/js
web/bundles/*
web/css/*
web/text/git.log
vendor/symfony/icu/Symfony/Component/
vendor/friendsofsymfony/oauth-server-bundle/FOS/OAuthServerBundle/.git
vendor/**/.gitignore
vendor/.git
vendor/**/.git
### vendor/*
!app/cache/.gitkeep
!app/logs/.gitkeep
*~
*.swp
*.swo
app.var
.DS_Store
._*
.idea
nbproject/private/
project.*
php_errors.log
app/cert/ck.pem
cert/std/ck.pem
app/config/parameters.yml.old
bin/ExploderDaemon.*.com
bin/NotifyUserCommand.*.com
bin/ExploderDaemon.*.us
bin/NotifyUserCommand.*.us
bin/bootstrap.php.cache
bin/dbmaint/process_word_list.sh
bin/dbmaint/process_word_list.sh.dist
bin/getcounts.sh
bin/getcounts.sh.dist
cert/std/ck.pem.*
web/uploads
app/cert/links/
cert/links/
Accounts*
t.*
bin/AlertNotifExploderDaemon.*
data/findAckedConsults.sh.lastrun
app/config/*.dist
tmp/
app/.phpunit.result.cache
app/cert/dev
app/cert/links
.phpunit.result.cache
node_modules/
web/dev_build