<HTML>
<BODY>

{{ name }},
<BR>
Welcome to Practice Unite&reg;.
<BR>
Your Username is {{ username }}
<BR>
Your new system generated password is {{ pass }}
<BR>
<BR>
Please login to {{ link }}  and change it. 
<BR>
Thank you,
<BR>
The Practice Unite support team.


</BODY>
</HTML>
