{% extends '::PrUForm.html.twig' %}
{% block title %}New Staff{% endblock %}
{% block jumbotron %}Registration{% endblock %}
{% block jumbotron_byline %}
Read the Terms of Service described at this <A HREF="/tos.html">link.</A>
{% endblock %}
{% block jumbotron_navbar %}
{% endblock %}


